{% extends "base.html" %}


{% block title %}
    Book List
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Book List</h1>

        <div class="row">
            {% for book in books %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5>{{ book.title }}</h5>
                            <p>{{ book.description }}</p>
                            <p>{{ book.publication_date }}</p>
                            <a href="#" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>


    </div>



{% endblock %}
