{% extends "base.html" %}


{% block title %}
    Book List
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Book List</h1>

        <div class="row">
            {% for book in books %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5>{{ book.title }}</h5>
                            <img src="{{ book.cover.url }}" width="150" height="200">
                            <p>{{ book.author }}</p>
                            <p>{{ book.price }} Toman</p>
                            <p>{{ book.publication_date|date:"d F, Y" }}</p>
                            <a href="{% url 'books:detail' book.id %}" class="btn btn-primary">Details</a>
                            {% if request.user == book.author or request.user.is_superuser %}
                                <a href="{% url 'books:update-book' book.id %}" class="btn btn-primary">Update</a>
                                <a href="{% url 'books:delete' book.id %}" class="btn btn-danger">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>


    </div>



{% endblock %}
